.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px;
  margin-top: 100px;
}

.form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.header-container {
  background-color: #f8f9fa;
  padding: 20px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #212529;
  font-size: 20px;
  font-weight: bold;
}

.header button {
  border: none;
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.header button:hover {
  background-color: #c82333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  background-color: #343a40;
  color: #fff;
  text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table tbody tr:hover {
  background-color: #e2e6ea;
}

.table td button {
  border: none;
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.table td button:hover {
  background-color: #c82333;
}
